.section1 {
    width: 100%;
    height: 655px;
}

.video__layout {
    height: 55px;
}

.video_background {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}


/* .video_background[data-mask="70"]{
    opacity: 0.3;
} */